:root {
    /* --myPink: #fa7cb3; */
    --myPink: #f5dfeb;
    --myPale: #e7cfcd;
    --myBlack: #2f2d2e;
    --myBrown: #653c41;
    --myWhite: #f5efef;
}
/* div {
    min-height: 100vh;
    color: green;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
} */
:root {
    font-size: 17;
}
* {
    margin: 0;
    padding: 0;
    font-size: ;
    box-sizing: border-box;
    font-family: century gothic;
}

body {
    background: var(--myPale);
    overflow-x: hidden;
    justify-content:center;
    align-items: center;
}

#header {
    border: 2px solid yellow;
    width: 100vw;
    height: 15vh;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    font-size: 2.5vw;
    color: var(--myBrown);
}
#banner {
    border: 2px solid red;
    height: 44vh;
    width: 100vw;
    background: url(./assets/img/banner2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    box-sizing: border-box;
    background-size: content;
    z-index: 0;
}
img {
    border: 4px olivdrab solid;
}
/* .subbanner {
    border: 4px black solid;
    background: var(--myPale);
    width: 100vw;
    height: 90px;
    position: absolute;
    bottom: -12px;
    z-index: 0;
    margin-left: 0;;
} */
/* .table {
    border: 2px green solid;
    width: 100vw;
    height:  30vh;
} */
.menu1 {
    width: 19vw;
    height: 190px;
    background: var(--myPale);
    position: absolute;
    left: 10vw;
    bottom: 20%; 
    z-index: 1;
    border-radius: 10%;
}
.menu2 {
    width: 19vw;
    height: 190px;
    background: var(--myPale);
    position: absolute;
    /* margin-left: auto;
    margin-right: auto; */
    top: 60%;
    left: 50%;
    /* -ms-transform: translate(-50%, -50%); */
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 10%;
}
.menu3 {
    width: 19vw;
    height: 190px;
    background: var(--myPale);
    position: absolute;
    right: 10vw;
    bottom: 20%;
    z-index: 1;
    border-radius: 10%;
}
#content {
    width: 66vw;
    height: 330vh;
    margin: 50px auto;
    background: var(--myWhite);
    z-index: 5;
    position: static;
    border: 3px violet solid;
}
img {
    width: 350px;
    height: 300px;
}

.view {
    float: right; 
    margin: 2px, auto;
    border-radius: 10px;
    width: 100%;
    height: 70%%;
}
.doce {
    margin: 2px auto;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2em;
}
.desc {
    clear: right; 
    color: var(--myBrown);
    font-weight: bold;
    font-family: candara;
    padding: 10;
    text-align: center;
    font-size: 1vw;
    width: 85%;
    padding-top: 10%;
    word-wrap: break-word;
    margin: 0 auto;

}
.card {
    background: var(--myPink);
    outline: 0.1rem solid white;
    border-radius: 15px;
    padding: 10px;
    overflow: hidden;
    margin: 0px auto;
    z-index: 2;
    position: absolute;
    top: 400px;
    left: 200px;
    outline-offset: -5px;
    justify-content: center;
    justify-items: center;

    width: 22vw;
    height: auto;
}

.desc::after {
    float: right;
    display: blo;
    content:"$";
    font-size: 38px;
    color: pink;
    background: var(--myWhite);
    text-align: center;
    width: 4vw;
    height: auto;
    border-radius: 10px;
    margin-top: 9px;
    margin-bottom: 4px;
    /* margin-bottom: 40000000px;
    margin-right: -5000000000000px; */
    z-index: 30;
    box-sizing: border-box;
    riht: 0;
    botom: 0;


}
.whole {
    height: 100vh;
    width: 100vw;
    overflow: hiddn;
    border: 4px solid green
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    letter-spacing: 2px;
    color: white
}
#footer {
    display: bloc;
    position: nne;
    padding:100px;
    text-align: center;
    font-size: 20px;
    width: 100vw;
    height: 20%;
    z-index: -5;
    background-attachment: fixd;
    clear: both;
    margin-top: -100px;
    background: /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fcecfc+9,fd89d7+71,ff7cd8+100&0.36+7,0.04+7,0.59+99 */
        background: -moz-linear-gradient(top, rgba(252, 236, 252, 0.04) 7%, rgba(252, 236, 252, 0.05) 9%, rgba(253, 137, 215, 0.42) 71%, rgba(255, 124, 216, 0.59) 99%, rgba(255, 124, 216, 0.59) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(252, 236, 252, 0.04) 7%, rgba(252, 236, 252, 0.05) 9%, rgba(253, 137, 215, 0.42) 71%, rgba(255, 124, 216, 0.59) 99%, rgba(255, 124, 216, 0.59) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(252, 236, 252, 0.04) 7%, rgba(252, 236, 252, 0.05) 9%, rgba(253, 137, 215, 0.42) 71%, rgba(255, 124, 216, 0.59) 99%, rgba(255, 124, 216, 0.59) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0afcecfc', endColorstr='#96ff7cd8', GradientType=0);
        /* IE6-9 */

}
